.footer
{
    position: absolute;
    bottom: 0%;
    background-color: rgb(165, 164, 164);
    width: 100%;
}
span
{
    color: rgb(0, 0, 0);
    font-weight: bold;
  
}
a{
    text-decoration: none;
}
a:hover span
{
    color: white;
}