<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block  sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link "  href="#">
            <span data-feather="home"></span>
         Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file"></span>
           Transctions Total
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="shopping-cart"></span>
            Transctions Failed
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="users"></span>
            Transctions Success
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="bar-chart-2"></span>
          Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logOut()">
            <span data-feather="bar-chart-2"></span>
        LogOut
          </a>
        </li>
       
      </ul>

   
    </div>
  </nav>